:root {
  /* Colors */
  --c-many-orange: #F7931A;
  --c-many-blue: #0070f3;
  --c-gray-divider: #eaeaea;
}

* {
  box-sizing: border-box;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

p {
  line-height: 1.3rem;
}

pre {
  margin: 2rem 0;
  padding: 2rem 16px;
  background-color: #22272d;
  color: #adbac7;
  border-radius: 6px;
  overflow: auto;
}

code {
  font-size: 16px;
  color: #adbac7;
  border-radius: 6px;
  background-color: #22272d;
}

code .hljs-comment:first-child {
  width: 100%;
  display: block;
  padding: 0 0 10px 0;
  border-bottom: solid 1px #adbac7;
}

code.inline-code {
  margin-right: 2px;
  padding: 1.5px 6px;
  color: #22272d;
  background-color: var(--c-gray-divider);
}

code span {
  font-size: 16px;
  color: #6cb6ff;
}

code .hljs-keyword {
  color: #e56b62;
}

code .hljs-title {
  color: #dcbdfb;
}

code .hljs-string {
  color: #6cb6ff;
}

code .hljs-params {
  color: #F7931A;
}

code .hljs-comment {
  color: #768390;
}

blockquote {
  margin: 1rem 4px;
  padding: 0.2rem 1rem;
  opacity: 0.6;
  font-weight: 600;
  border-left: 8px solid var(--c-gray-divider);
}
